body.home-body{
 }

body.home-body header.main-header{
  background-color:var(--yellow);}

body .main.header img.logo{
  display:block;
  margin: 0 auto;

}

body header nav.nav-header{}

body header nav.nav-header li a.serch{
  display: block;
  margin: 0 auto;
  background-color: white;
  padding: 2px;
 }

 body header nav.nav-header li a.buy{
  
  margin: 0 auto;
 }

 body header nav ul.list-1{}

body header nav ul.list-1 a.header-link{
    font-size: 16px;
    margin-top: 100px;
      }
      
body header nav ul.list-2{}

body header nav ul.list-2 a.header-link{
    
    font-size: 16px;
    margin-top: 100px;
      }
      

body header div.burger-menu i{
        color:white;
       background-color: var(--blue);
       padding:5px 8px 5px 8px;
       border-radius: 10%;
       display:inline-block;
       margin:0 50% 0 50%;
       font-size: 1.8rem;
      }
      