main.home{}

main.home h2{}

main.home section.productos{}

main.home section.productos h3{
        font-size: 24px;
    font-family: 'Roboto', sans-serif;}

main.home section.productos ul.ul-productos{}

main.home section.productos ul.ul-productos li{}

main.home section.productos ul.ul-productos li img{}


main.home section.productos ul.ul-productos li p.size-precio{
        font-size: 18px;font-family: 'Roboto', sans-serif;}

main.home section.productos ul.ul-productos li p.size-descuento{
        font-size: 16px; font-family: 'Roboto', sans-serif;}

main.home section.productos ul.ul-productos li p.size-descripcion{
        font-size: 16px; font-family: 'Roboto', sans-serif;}

main.home section.ofertas{}

main.home section.ofertas h3{
                font-size: 24px;
            font-family: 'Roboto', sans-serif;}
        
main.home section.ofertas ul.ul-ofertas{}
        
main.home section.ofertas ul.ul-ofertas li{}
        
main.home section.ofertas ul.ul-ofertas li img{}
        
        
main.home section.ofertas ul.ul-ofertas li p.size-precio{
                font-size: 18px;font-family: 'Roboto', sans-serif;}
        
main.home section.ofertass ul.ul-ofertas li p.size-descuento{
                font-size: 16px; font-family: 'Roboto', sans-serif;}
        
main.home section.ofertas ul.ul-ofertasli p.size-descripcion{
                font-size: 16px; font-family: 'Roboto', sans-serif;}        


    
