
    .section{
        font-size: 24px;
    font-family: 'Roboto', sans-serif;}
    .size-precio{
        font-size: 18px;font-family: 'Roboto', sans-serif;}
    .size-descuento{
        font-size: 16px; font-family: 'Roboto', sans-serif;}
    .size-descripcion{
        font-size: 16px; font-family: 'Roboto', sans-serif;}


    
