main.home{
  background-color:var(--light-grey);
}

main.home h2{}

main.home section.productos{}

main.home section.productos h3{
  font-size: 24px;
  font-family: 'Roboto', sans-serif;}

main.home section.productos{}

main.home section.productos ul.ul-productos {}

main.home section.productos ul.ul-productos li{}

main.home section.productos ul.ul-productos li div.producto-container{
  border: 3px solid #ccc;
  margin-bottom: 10px; 
}

main.home section.productos ul.ul-productos li img{
  max-width: 100%; 
  margin-right: 10px;
}


main.home section.productos ul.ul-productos li p.size-precio{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  }

main.home section.productos ul.ul-productos li p.size-descuento{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color:var(--green);}

main.home section.productos ul.ul-productos li p.size-descripcion{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;}

main.home section.productos ul.ul-productos li i{
  border: 1px solid var(--green);
  border-radius: 50%;
  padding: 5px;
  color: var(--green);
  display: block;
  font-size: 16px;
  width: 30px;
  height: 30px;
  background-color:var(--white);
  margin-left: auto;
 }                

main.home section.ofertas{}

main.home section.ofertas h3{
  font-size: 24px;
  font-family: 'Roboto', sans-serif;}
        
main.home section.ofertas{}

main.home section.ofertas ul.ul-ofertas{}

main.home section.ofertas ul.ul-ofertas li{}
        
main.home section.ofertas ul.ul-ofertas li div.oferta-container{
  border: 3px solid #ccc;
  margin-bottom: 10px; 
}
        
main.home section.ofertas ul.ul-ofertas li img{}
        
        
main.home section.ofertas ul.ul-ofertas li p.size-precio{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;}
        
main.home section.ofertas ul.ul-ofertas li p.size-descuento{
  font-size: 16px; 
  font-family: 'Roboto', sans-serif;
  color:var(--green);}
                       
main.home section.ofertas ul.ul-ofertasli p.size-descripcion{
  font-size: 16px; 
  font-family: 'Roboto', sans-serif;}        


main.home section.ofertas ul.ul-ofertas li i{
  border-radius: 50%;                
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 50%;
  padding: 5px;
  color: var(--green);
  display: block;
  font-size: 16px;
  width: 30px;
  height: 30px;
  background-color:var(--white);
  margin-left: auto;
}  

                
    
 body.home-body .carousel-inner{
  /* display: none;*/
  height: 300px;
 }

 /* Asegúrate de que el CSS general de la sección de productos y ofertas permita flexibilidad */
.productos, .ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Esto añade un espacio entre los contenedores */
}

/* Centrar los contenedores de productos y ofertas */
.producto-container, .oferta-container {
  /* Ajustes adicionales si son necesarios, pero asegúrate de que flex o margin auto no interfieran entre sí */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Esto centra los elementos hijos (como imágenes y textos) en el eje transversal */
}

.ul-productos, .ul-ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none; /* Remueve los estilos predeterminados de la lista */
  padding: 0; /* Remueve el padding predeterminado */
}

.ul-productos li, .ul-ofertas li {
  /* Esto permite que cada ítem de la lista tenga un manejo de espacio adecuado y se centre según el diseño */
  margin: 10px;
  display: flex;
  justify-content: center;
}


